body{
	background-color: #131921;
	color: white;
}
.float_left{
	float: left;
}
.float_right{
	float: right;
}
a:hover {
    background-color: black;
    color: white;
}
a.float_left{
	color: white;
}
a.float_right{
	color: darkred;
}
ul{
    padding-inline-start: 0px;
	margin-top:0;
}
